/*! jQuery UI - v1.10.4 - 2014-01-17
* http://jqueryui.com
* Includes: jquery.ui.core.css, jquery.ui.accordion.css, jquery.ui.autocomplete.css, jquery.ui.button.css, jquery.ui.datepicker.css, jquery.ui.dialog.css, jquery.ui.menu.css, jquery.ui.progressbar.css, jquery.ui.resizable.css, jquery.ui.selectable.css, jquery.ui.slider.css, jquery.ui.spinner.css, jquery.ui.tabs.css, jquery.ui.tooltip.css, jquery.ui.theme.css
* To view and modify this theme, visit http://jqueryui.com/themeroller/?ffDefault=Trebuchet%20MS%2CTahoma%2CVerdana%2CArial%2Csans-serif&fwDefault=bold&fsDefault=1.1em&cornerRadius=4px&bgColorHeader=f6a828&bgTextureHeader=gloss_wave&bgImgOpacityHeader=35&borderColorHeader=e78f08&fcHeader=ffffff&iconColorHeader=ffffff&bgColorContent=eeeeee&bgTextureContent=highlight_soft&bgImgOpacityContent=100&borderColorContent=dddddd&fcContent=333333&iconColorContent=222222&bgColorDefault=f6f6f6&bgTextureDefault=glass&bgImgOpacityDefault=100&borderColorDefault=cccccc&fcDefault=1c94c4&iconColorDefault=ef8c08&bgColorHover=fdf5ce&bgTextureHover=glass&bgImgOpacityHover=100&borderColorHover=fbcb09&fcHover=c77405&iconColorHover=ef8c08&bgColorActive=ffffff&bgTextureActive=glass&bgImgOpacityActive=65&borderColorActive=fbd850&fcActive=eb8f00&iconColorActive=ef8c08&bgColorHighlight=ffe45c&bgTextureHighlight=highlight_soft&bgImgOpacityHighlight=75&borderColorHighlight=fed22f&fcHighlight=363636&iconColorHighlight=228ef1&bgColorError=b81900&bgTextureError=diagonals_thick&bgImgOpacityError=18&borderColorError=cd0a0a&fcError=ffffff&iconColorError=ffd27a&bgColorOverlay=666666&bgTextureOverlay=diagonals_thick&bgImgOpacityOverlay=20&opacityOverlay=50&bgColorShadow=000000&bgTextureShadow=flat&bgImgOpacityShadow=10&opacityShadow=20&thicknessShadow=5px&offsetTopShadow=-5px&offsetLeftShadow=-5px&cornerRadiusShadow=5px
* Copyright 2014 jQuery Foundation and other contributors; Licensed MIT */


/* Component containers
----------------------------------*/

/* JQUERY UI AUTO COMPLETE*/

.ui-helper-hidden-accessible { display:none; }
.ui-autocomplete {
    padding-top:2px !important;
    padding-bottom:2px !important;
    position: absolute;
    display: none;
    margin: 2px 0 0 0;
    list-style: none;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

  }
}

.ui-widget {       
    text-align: left;
}

.ui-widget-content {
	border: 1px solid #dddddd;
	background: #eeeeee url(images/ui-bg_highlight-soft_100_eeeeee_1x100.png) 50% top repeat-x;
	color: #333333;
}

.ui-menu {
    font-family: Trebuchet MS;
    font-size: 1.1em;
}

/* Interaction states
----------------------------------*/

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	
	background: #fdf5ce url(images/ui-bg_glass_100_fdf5ce_1x400.png) 50% 50% repeat-x;

	color: #c77405;
}

.ui-tabs-nav{
    list-style: none;

    font-size:14px;
    padding-bottom:14px
}

.ui-tabs-nav a{
    text-decoration: none;


}

.ui-state-default {
    display:inline;
    width:100%;
    margin-right:10px;
}

/* TABS */

.ui-tabs, .ui-tabs-panel {
    background: #fff;
    border:none;
}

.ui-tabs-active {
    text-decoration:underline;
    text-decoration-color: #000;
    background: none;
    border: none;
}

.ui-tabs .ui-state-focus, .ui-tabs .ui-state-focus a {
    background: none !important;
    border: none;
}

.ui-tabs .ui-state-hover {
    background: none !important;
    border: none;
    text-decoration-color: #000;
}


/* DIALOGUE */

.ui-dialog {
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	padding: .2em;
	outline: 0;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    width:400px!important;
}
.ui-dialog .ui-dialog-titlebar {
	padding: .4em 1em;
	position: relative;
    cursor:move;
    width: auto; overflow:auto;
    border-bottom: dashed 1px #000;
}
.ui-dialog .ui-dialog-title {
	float: left;    
    font-weight:bold;
    display:inline-block;
    
}
.ui-dialog .ui-dialog-titlebar-close {
	float:right;
    display:inline-block;
    width:auto;
    margin:0px;
}
.ui-dialog .ui-dialog-content {
    clear:both;
	position: relative;
	border: 0;
	padding: .5em 1em;
	background: none;
	overflow: auto;
}
.ui-dialog .ui-dialog-buttonpane {
	text-align: left;
	border-width: 1px 0 0 0;
	background-image: none;
	margin-top: .5em;
	padding: .3em 1em .5em .4em;
}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
	float: right;
}
.ui-dialog .ui-dialog-buttonpane button {
	margin: .5em .4em .5em 0;
	cursor: pointer;
}
.ui-dialog .ui-resizable-se {
	width: 12px;
	height: 12px;
	right: -5px;
	bottom: -5px;
	background-position: 16px 16px;
}

.ui-dialog .ui-state-hover, .ui-dialog .ui-state-focus {
    background:none;
}

.ui-dialog .ui-button:hover {
    cursor:pointer;
}

.ui-dialog .ui-button-text {
    text-decoration:underline;
}
